html,
body
{
    height: 100%;
    max-height: 500px;
}

main
{
    position: relative;
}

h1
{
    text-align: center;
}

section
{
    position: relative;
    margin: 0 auto;
    height: 300px;
    width: 1200px;
    display: none;
}

.button
{
    cursor: pointer;
}

input.navigation:checked + section
{
    display: block;
}

.img-wrapper
{
    position: relative;
    display: inline-block;
    width: 200px;
    margin: 35px;
    max-height: 200px;
}

input[type='radio'],
input[type='checkbox']
{
    display: none;
}

.img-container label
{
    position: relative;
    display: block;
    height: 100%;
}

.img-container img
{
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}

.img-container p.description
{
    display: none;
}

.img-container .close
{
    display: none;
}

.img-wrapper:hover
{
    z-index: 3000;
}

.img-wrapper:hover input:not(:checked) ~ .img-container .img-button
{
    cursor: pointer;
}

.img-wrapper:hover input:not(:checked) ~ .img-container
{
    box-shadow: 0 0 10px #000;
    padding: 20px;
    width: 300px;
    position: absolute;
    top: -80px;
    left: -35%;
    background-color: #fff;
}

.img-wrapper:hover input:not(:checked) ~ .img-container p.description
{
    display: inline-block;
    text-align: justify;
}

section input:checked ~ .img-container
{
    position: fixed;
    display: inline-block;
    width: 100%;
    height: 100%;
    z-index: 5000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(191, 191, 191, .5);
    text-align: center;
    vertical-align: middle;
}

section input:checked ~ .img-container img
{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    max-width: 80%;
    max-height: 80%;
}

section input:checked ~ .img-container label.close
{
    display: inline-block;
    background: url('img/cross-icon.png');
    background-size: cover;
    position: fixed;
    z-index: 20000;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
}

label.left-arrow,
label.right-arrow
{
    display: inline-block;
    width: 50px;
    height: 50px;
}

label.left-arrow
{
    background: url('img/left-arrow.png');
    background-size: cover;
}

label.right-arrow
{
    background: url('img/right-arrow.png');
    background-size: cover;
}

